
    .footer{
        width: 100vw;
        height: 10vh;
        background-color: rgba(255, 255, 255, 0.514);
    }
    .container-divisiones-footer{
        width: 100vw;
        height: 100%;
    }
    .division-1, .division-2{
        width: 50vw;
        height: fit-content;
    }